@import 'tailwindcss';
@import 'maplibre-gl/dist/maplibre-gl.css';

@theme {
  --color-brand-50: #ecfdf5;
  --color-brand-500: #10b981;
  --color-brand-600: #059669;
  --color-brand-700: #047857;
}

html {
  -webkit-tap-highlight-color: transparent;
}

body {
  @apply bg-slate-50 text-slate-900 antialiased;
  padding-bottom: env(safe-area-inset-bottom);
}
